In [1]:
#import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("car data.csv")

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
df.experience.mean()

6.6

In [7]:
exp_fit = df.experience.median()

In [8]:
exp_fit

5.0

In [9]:
df.experience = df.experience.fillna(exp_fit)

In [10]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [11]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [13]:
reg = linear_model.LinearRegression()

In [15]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [16]:
reg.predict([[180,10,5]])

array([77.98331208])

In [17]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [18]:
reg.intercept_

33.410000910435905

In [22]:
# y = mx + c
# Y = M1*X1 + M2*X2 + M3*X3 + ..... + Mn*Xn + C
# risk = M1*speed + M2*car_age + M3*experience + C
# M = Coefficience Y= Dependend variable speed,car_age,experience = Independend Variable C = Intercept
car_risk = 0.33059217*180+1.61053246*10+(-6.20772074)*5 + 33.410000910435905

In [23]:
risk

77.9833124104359

In [24]:
# we can show the value of risk & the value of predict both are same